<%- include('./layout/head', { NAME_CSS: "changePassword" }) %>

<body id="changePassword">
  <%- include('./layout/notifications')%>

  <%- include('./layout/header')%>

  <main>

    <section id="includeForm">

      <h1>Actualización de Contraseña</h1>
      <p>Por favor ingrese la nueva contraseña para la actualización</p>


      <form action="/changePassword" method="POST">

        <label for="passwordCurrent" id="labelPassword">
          Contraseña Actual <span style="color:red;">*</span>
          <br />
          <input type="password" name="passwordCurrent" id="passwordCurrent" required>
          <i class="fa-regular fa-eye" id="eyeOpenCurrent" onclick="changeInputCurrent()"></i>
          <i class="fa-regular fa-eye-slash hide" id="eyeCloseCurrent" onclick="changeInputCurrent()"></i>
        </label>

        <label for="password" id="labelPassword">
          Contraseña <span style="color:red;">*</span>
          <br />
          <input type="password" name="password" id="password" required>
          <i class="fa-regular fa-eye" id="eyeOpen" onclick="changeInput()"></i>
          <i class="fa-regular fa-eye-slash hide" id="eyeClose" onclick="changeInput()"></i>
        </label>

        <label for="confPassword" id="labelConfPassword">
          Confirmar contraseña <span style="color:red;">*</span>
          <br />
          <input type="password" name="confPassword" id="confPassword" required>
          <i class="fa-regular fa-eye" id="eyeOpenConf" onclick="changeInputConf()"></i>
          <i class="fa-regular fa-eye-slash hide" id="eyeCloseConf" onclick="changeInputConf()"></i>
        </label>
        <p id="confirmPass" class="hide">¡Las contraseñas no son las mismas!</p>

        <div id="content-Buttons">
          <button type="submit" id="sendForm">Aceptar</button>
          <button type="button" id="backPass" onclick="redirect('dataUpdate')">Cancelar</button>
        </div>
      </form>
    </section>


    <script type="text/javascript">
      function changeInputCurrent() {
        let inputCh = document.getElementById('passwordCurrent');
        let eyeOpen = document.getElementById('eyeOpenCurrent');
        let eyeClose = document.getElementById('eyeCloseCurrent');
        (inputCh.type == "text") ? (inputCh.type = "password") : (inputCh.type = "text")
        eyeOpen.classList.toggle('hide');
        eyeClose.classList.toggle('hide');
      }

      function changeInput() {
        let inputCh = document.getElementById('password');
        let eyeOpen = document.getElementById('eyeOpen');
        let eyeClose = document.getElementById('eyeClose');
        (inputCh.type == "text") ? (inputCh.type = "password") : (inputCh.type = "text")
        eyeOpen.classList.toggle('hide');
        eyeClose.classList.toggle('hide');
      }

      function changeInputConf() {
        let inputCh = document.getElementById('confPassword');
        let eyeOpen = document.getElementById('eyeOpenConf');
        let eyeClose = document.getElementById('eyeCloseConf');
        (inputCh.type == "text") ? (inputCh.type = "password") : (inputCh.type = "text")
        eyeOpen.classList.toggle('hide');
        eyeClose.classList.toggle('hide');
      }
    </script>
    <%- include('./layout/footer') %>
</body>

<%- include('./layout/closeHtml') %>