<%- include('./layout/head', { NAME_CSS: "contact" }) %>

<body id="contact" onload="activeOptionFooter('Contacts')">
  <%- include('./layout/notifications')%>

  <%- include('./layout/header')%>

  <main>
    <section id="includeForm">

      <h1>A침adir Contactos</h1>
      <p>Escriba los datos del contacto que desea agregar

      <form action="/contact" method="POST">

        <label for="fullName" id="labelFullName">
          <br />
          <input type="text" name="fullName" id="fullName" placeholder="Nombre completo" required>
        </label>

        <label for="phoneNumber" id="labelPhoneNumber">
          <br />
          <input type="number" name="phoneNumber" id="phoneNumber" placeholder="Numero telef칩nico" required>
        </label>

        <label for="email" id="labelEmail">
          <br />
          <input type="email" name="email" id="email" placeholder="Correo electr칩nico" required>
        </label>

        <div id="Content-Buttons">
          <button type="submit" id="sendForm">A침adir</button>
          <button type="submit" id="sendForm">Cancelar</button>
        </div>

      </form>
    </section>
    
  <%- include('./layout/footer') %>
</body>

<%- include('./layout/closeHtml') %>