<%- include('./layout/head', { NAME_CSS: "contact" }) %>

<body id="contact" onload="activeOptionFooter('Contacts')">
  <%- include('./layout/notifications')%>

  <%- include('./layout/header')%>

  <main>
    <section id="includeForm">

      <h1>Añadir Contactos</h1>
      <p>Escriba los datos del contacto que desea agregar

      <form action="/contact" method="POST">

        <div class="group group-2">
          <label for="fullName" id="labelFullName" class="inputGroup">
            Nombre completo <span style="color:red;">*</span>
            <br>
            <input type="text" name="fullName" id="fullName" required="">
          </label>

          <label for="email" id="labelEmail" class="inputGroup">
            Correo electrónico <span style="color:red;">*</span>
            <br>
            <input type="email" name="email" id="email" required="">
            <i class="fa-regular fa-envelope"></i>
          </label>
        </div>

        <div class="group group-3">
          <label for="phoneNumber" id="labelPhoneNumber" class="inputGroup">
            Numero de telefono <span style="color:red;">*</span>
            <br>
            <input type="number" name="phoneNumber" id="phoneNumber" required="">
            <i class="fa-solid fa-hashtag"></i>
          </label>

          <label for="Address" id="labelAddress" class="inputGroup">
            Dirección
            <br>
            <input type="text" name="Address" id="Address" required="" class="inputGroup">
            <i class="fa-solid fa-house-chimney-user"></i>
          </label>

          <label for="gender" id="labelGender">
            Genero
            <br>
            <select name="gender" id="gender" class="inputGroup">
              <option selected=""></option>
              <option value="M">Masculino</option>
              <option value="F">Femenino</option>
              <option value="O">Otro</option>
            </select>
          </label>

        </div>

        <div class="group group-4">

          <label for="Desc" id="labelDesc" class="inputGroup">
            Descripción
            <br>
            <input type="text" name="Desc" id="Desc" required="">
            <i class="fa-solid fa-pen"></i>
          </label>

        </div>

        <div id="Content-Buttons">
          <button type="submit" id="sendForm">Añadir</button>
          <button type="submit" id="sendForm">Cancelar</button>
        </div>

      </form>
    </section>
    
  <%- include('./layout/footer') %>
</body>

<%- include('./layout/closeHtml') %>