<%- include('./layout/head', { NAME_CSS: "debts" }) %>

<body id="debts" onload="activeOptionFooter('Add')">
  <%- include('./layout/notifications')%>

  <%- include('./layout/header')%>

  <main>

    <section id="contentIngreso" class="hide">
      <h1>Hola soy el Ingreso</h1>
    </section>

    <section id="contentEgreso" class="hide">
      <h1>Hola soy el Egreso</h1>
    </section>

  </main>

  <div id="popUpOption">
    <section id="contentPopUp">
      <h2>¿Que deseas agregar?</h2>
      <div id="contentOptionsButtons">
        <button id="ingreso" onclick="changeView('ingreso')">Ingreso</button>
        <button id="deuda" onclick="changeView('deuda')">Deuda/Egreso</button>
      </div>
    </section>
  </div>


  <script type="text/javascript">
    const contentIngreso = document.getElementById("contentIngreso");
    const contentEgreso = document.getElementById("contentEgreso");
    const popUpOption = document.getElementById("popUpOption");

    function changeView(type) {
      (type == 'ingreso') ?
      contentIngreso.classList.remove('hide'):
        contentEgreso.classList.remove('hide');

      popUpOption.classList.add('hide');
    }
  </script>

  <%- include('./layout/footer') %>
</body>

<%- include('./layout/closeHtml') %>