<%- include('./layout/head', { NAME_CSS: "home" }) %>

<body id="home" onload="activeOptionFooter('Add')">
  <%- include('./layout/header')%>
  <%- include('./layout/notifications')%>

  <h1>Hola home</h1>
  <%- include('./layout/footer') %>
</body>
<%- include('./layout/closeHtml') %>