<%- include('./layout/head', { NAME_CSS: "movements" }) %>

<body id="movements" onload="activeOptionFooter('History')">
  <%- include('./layout/notifications')%>

  <%- include('./layout/header')%>

  <main>

    <section id="includeForm">

      <h1>Historial</h1>
      <p>Sus movimientos son:
      <p>

      <form action="/movements" method="POST">

        <table> 
          <tr> <td>Item</td> <td>Fecha</td> <td>Nombre</td> <td>Saldo</td> </tr> 
          <tr> <td>......</td> <td>......</td> <td>......</td> <td>......</td> </tr> 
        </table> 
        
        <div id="Content-Buttons">
          <button type="submit" id="sendForm">Aceptar</button>
          <button type="submit" id="sendForm">Cancelar</button>
        </div>

      </form>
    </section>
  <%- include('./layout/footer') %>
</body>

<%- include('./layout/closeHtml') %>